<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>ANOTHER SAMPLE</title>
</head>
<body>
	<form action="#" th:action="@{/books/save}" th:object="${form}"
  method="post">
    <fieldset>
        <input type="submit" id="submitButton" th:value="Save">
        <input id="addBtn" type="button" th:value="ADD">
        <input type="reset" id="resetButton" name="reset" th:value="Reset"/>
        <table>
            <thead>
                <tr>
                    <th> Title</th>
                    <th> Author</th>
                </tr>
            </thead>
            <tbody>
                <tr id="row" th:each="book, itemStat : *{books}">
                    <td><input th:field="*{books[__${itemStat.index}__].title}" /></td>
                    <td><input th:field="*{books[__${itemStat.index}__].author}" /></td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</form>

</body>
 <!-- jQuery 3 -->
	<!--    <script src="/bower_components/jquery/dist/jquery.min.js"></script>-->
   <script type="text/javascript" th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>
<script>
$(function() {
	var add_button = $("#addBtn");
	var wrapper = $("#row")
	var x = 1;
	$(add_button)
	.click(
			function(e) {
				e.preventDefault();
					
					$(wrapper)
							.append(
									'<td><input id="books'+ x +'.author" name="books['+ x +'].title" value=""></td>'+
				                    '<td><input id="books'+ x +'.author" name="books['+ x +'].author" value=""></td>'
							)
							x++; //text box increment
				
			});

});
</script>
</html>