<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>404 error</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}" >

    <link rel="stylesheet" type="text/css" th:href="@{/bower_components/font-awesome/css/font-awesome.min.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/bower_components/Ionicons/css/ionicons.min.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/dist/css/AdminLTE.min.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/dist/css/skins/_all-skins.min.css}">

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <style>
    	.widget-user-2 .widget-user-header{
    		padding:10px 20px 10px 20px;
    	}
    </style>
</head>
<body>
	<!-- Main content -->
	<section class="content">
		<div class="col-md-8">
			<!-- Widget: user widget style 1 -->
			<div class="box box-widget widget-user-2 collapsed-box">
				<!-- Add the bg color to the header using any of the bg-* classes -->
				<div class="widget-user-header bg-yellow">
					<div class="widget-user-image">
						<img class="img-circle" src="../dist/img/user7-128x128.jpg"
							alt="User Avatar">
					</div>
					
					<div class="box-tools pull-right">
						<button type="button" class="btn btn-box-tool"
							data-widget="collapse">
							<i class="fa fa-plus"></i>
						</button>
					</div>
					
					<!-- /.widget-user-image -->
					<h3 class="widget-user-username">Nadia Carmichael</h3>
					<h5 class="widget-user-desc">Lead Developer</h5>
				</div>
				<div class="box-footer no-padding box-body">
					<ul class="nav nav-stacked">
						<li>
							<a href="#">EMPLOYEE ID 
								<span class="pull-right badge bg-blue">31</span>
							</a>
						</li>
						<li>
							<a href="#">EMAIL
								<span class="pull-right badge bg-aqua">5</span>
							</a>
						</li>
						<li>
							<a href="#">EMPLOYMENT STATUS
								<span class="pull-right badge bg-green">12</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<!-- /.widget-user -->
		</div>
		<!-- /.col -->
	</section>
	<!-- jQuery 3 -->
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Slimscroll -->
<script src="../bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="../bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../dist/js/demo.js"></script>
</body>
<!-- /.content-wrapper -->

</html>


