<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{layouts/default_layout}">
	<head>
		<meta charset="ISO-8859-1">
		<title>Records | View</title>
		
		<!-- JQuery DataTable Style -->
		<link href="/facs/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet">
		<!-- Custom JQueryDT Style -->
		<link rel="stylesheet" href="/facs/css/Jquery-dataTable.css"/>
		
		<style>
			td {
				vertical-align: middle !important;
				margin-left: auto;
			    margin-right: auto;
			}
			th {
				text-align: center;
				color: white;
				background-color: #202020;
				padding-right: 0px !important;
				padding-left: 0px !important;
			}
			tr {
				text-align: center;
			}
		</style>
	</head>
	<body>
			<div class="content-wrapper" layout:fragment="content">
        
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                   Recorded Reports
                </h1>
                <ol class="breadcrumb">
					<li><i class="fa fa-dashboard"></i> Administrator</li>
					<li>Accounts</li>
					<li class="active"> View Records</li>
				</ol>
            </section>

            <!-- Main Content -->
            <section class="content container-fluid">
                <!--------------------------
                  | Your Page Content Here |
                  -------------------------->
          		<div class="box box-primary">
	               	<div class="box-body">
						<table id="ticketTable" class="table table-bordered table-hover table-striped flex">
							<thead>
								<tr>
									<th>ID</th>
									<th>Faculty Name</th>
									<th>Date</th>
									<th>Remark</th>
									<th>Time of Absence (in hours)</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="record: ${recordList}">
									<td th:text="*{record.id}">Record ID</td>
									<td th:text="*{record.facultyname}" style="text-align: left;">Faculty Name</td>
									<td th:text="*{record.date}">Date</td>
									<td th:text="*{record.remark}">Remark</td>
									<td th:text="*{record.timediff}">Time of Absence (in hours)</td>
									<td>
										<a class="btn btn-sm btn-info btn-flat" data-toggle="modal"
											th:attr="data-object-facultyname=${record.facultyname},
													 data-object-email=${record.email},
													 data-object-dateday=${record.date} + ' - ' + ${record.day},
													 data-object-room=${record.room},
													 data-object-time=${record.timestart} + '-' + ${record.timeend},
													 data-object-remark=${record.remark},
													 data-object-absence=${record.timediff},
													 data-target='#modal-info'">
											<i class="fa fa-info-circle"></i>
										</a>
				                      	<div class="modal fade" id="modal-info">
								        	<div class="modal-dialog modal-sm">
								            	<div class="modal-content">
								            		<div class="modal-header" style="background-color: #367FA9;">
												        <button type="button" class="close" data-dismiss="modal">&times;</button>
												    	<span class="modal-title" style="color: white;"><strong>I N F O R M A T I O N</strong></span>
											      	</div>
									              	<div class="modal-body">
														<div class="box-body box-primary">
															<h3 class="profile-username text-center" id="facultyname">Faculty Name</h3>
															<p class="text-muted text-center" id="email">Email</p>
															<div class="list-group list-group-unbordered">
																<div class="list-group-item list-group-item-info">
																	<span id="dateday">Date - Day</span>
																</div>
																<small class="text-info"><strong><i>Date - Day</i></strong></small>
																<div class="list-group-item list-group-item-info">
																	<span id="room">Room</span>
																</div>
																<small class="text-info"><strong><i>Room</i></strong></small>
																<div class="list-group-item list-group-item-info">
																	<span id="time">Time</span>
																</div>
																<small class="text-info"><strong><i>Time</i></strong></small>
																<div class="list-group-item list-group-item-info">
																	<span id="remark">Remark</span>
																</div>
																<small class="text-info"><strong><i>Remark</i></strong></small>
																<div class="list-group-item list-group-item-info">
																	<span id="absence">Time of Absence</span>
																</div>
																<small class="text-info"><strong><i>Time of Absence (in hours)</i></strong></small>
															</div>
														</div>
													</div>
								            	</div>
								            	<!-- /.modal-content -->
								          	</div>
								          	<!-- /.modal-dialog -->
							        	</div>
								        <!-- /.modal -->
				                    </td>
								</tr>
							</tbody>	
						</table>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
		<th:block layout:fragment="local-scripts">
		   
			<!-- Jquery DataTable Plugin Js -->
			<script src="/facs/plugins/jquery-datatable/jquery.dataTables.js"></script>
			<script src="/facs/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
			<script src="/facs/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
			<script src="/facs/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
			<script src="/facs/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
			<script src="/facs/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
			<script src="/facs/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
			<script src="/facs/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
			<script src="/facs/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
    		<!-- InputMask -->
			<script src="/plugins/input-mask/jquery.inputmask.js"></script>
			<script src="/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
			<script src="/plugins/input-mask/jquery.inputmask.extensions.js"></script>
			
			<script>
				$(function () {
					
					$('#ticketTable').DataTable({
		       			'paging'      : false,
						'lengthChange': false,
						'searching'   : true,
						'ordering'    : false,
						'info'        : true,
						'autoWidth'   : false
					});
					
					$('#modal-info').on('show.bs.modal', function (event) {
						var button = $(event.relatedTarget);
						
						var modal = $(this);
						modal.find('#facultyname').html(button.data('object-facultyname'));
						modal.find('#email').html(button.data('object-email'));
						modal.find('#dateday').html(button.data('object-dateday'));
						modal.find('#room').html(button.data('object-room'));
						modal.find('#time').html(button.data('object-time'));
						modal.find('#remark').html(button.data('object-remark'));
						modal.find('#absence').html(button.data('object-absence'));
					});
					
				});
			</script>
		</th:block>
	</body>
</html>