<aside class="main-sidebar" th:fragment="sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

                <!-- Sidebar user panel (optional) -->
                <div class="user-panel">
                        <div class="pull-left image">
                              <img class="img-circle"  
								th:src="@{${#authentication.principal.imagedata !=null } ? ${#authentication.principal.getIconImage()} : '/dist/img/default-50x50.gif'}"
								alt="User Avatar">
                        </div>
                        <div class="pull-left info">
                      		<p  th:text="${#authentication.principal.fullname}"></p>
                      		<div sec:authentication="principal.office" class="label bg-green"></div>
                        </div>
                </div>

                <!-- Sidebar Menu -->
                <ul class="sidebar-menu" data-widget="tree">
                	<li class="header">NAVIGATION</li>
                        
                <!-- Modules -->  <!-- Modules -->  <!-- Modules -->
                	<th:block th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                        <li th:classappend="${#request.requestURI.startsWith('/administrator') ? 'active':''}" class="treeview" >
	                        <a href="#">
	                        	<i class="fa  fa-user-circle"></i>
	                            <span>Administrator</span>
	                            <span class="pull-right-container">
	                            <i class="fa fa-angle-left pull-right"></i>
	                            </span>
	                        </a>
                            <ul class="treeview-menu">
                                <li class="treeview">
                                    <a th:href="@{/administrator/view-users}">
                                        <i class="fa fa-id-badge"></i> Accounts
                                        <span class="pull-right-container">
                   							<i class="fa fa-angle-left pull-right"></i>
              							</span>
                                    </a>
                                    <ul class="treeview-menu">
                                  		<li>
                                   	 		<a  th:href="@{/administrator/account/view}">
                                    	 		<i class="fa fa-address-book"></i> View Accounts
                                    	 	</a>
                                    	 </li>
                           	  			 <li>
                              	  		 	<a th:href="@{/administrator/account/add}">
                                   	  			<i class="fa fa-user-plus"></i> Add Account
                                    	  	</a>
                              	  		</li>
                                    </ul>
                                </li>
                                <li>
									<a th:href="@{/administrator/record}"> 
                                  		<i class="fa fa-folder"></i> View Records
                              		</a>
	                          	</li>
                            </ul>
                        </li>
               		</th:block>
					<th:block th:if="${#authorization.expression('hasRole(''ROLE_CHECKER'')||hasRole(''ROLE_ADMIN'')')}">
                      	<li th:classappend="${#request.requestURI.startsWith('/daily') ? 'active':''}" class="treeview" >
                          	<a href="#">
                             	<i class="fa  fa-clipboard"></i>
                             	<span>Daily</span>
                             	<span class="pull-right-container">
             	       		   		<i class="fa fa-angle-left pull-right"></i>
                   	    		</span>
                        	</a>
                    		<ul class="treeview-menu">
                    			<th:block th:if="${#authorization.expression('hasRole(''ROLE_CHECKER'')')}">
	                       		<li>
									<a th:href="@{/daily/checklist}"> 
                                  		<i class="fa fa-edit"></i> Checklists
                              		</a>
	                          	</li>
	                          	</th:block>
	                       		<li>
	                          		<a th:href="@{/daily/schedule}">
      	                            	<i class="fa fa-calendar"></i> Schedules
                                  	</a>
                              	</li>
                      		</ul>
                      	</li>
                   	</th:block>
					<th:block th:if="${#authorization.expression('hasRole(''ROLE_CHECKER'')||hasRole(''ROLE_DEPT'')||hasRole(''ROLE_ADMIN'')')}">
                    	<li th:classappend="${#request.requestURI.startsWith('/faculty') ? 'active':''}" class="treeview" >
                        	<a href="">
                        		<i class="fa  fa-users"></i>
	                            <span>Faculties</span>
	                            <span class="pull-right-container">
	                            <i class="fa fa-angle-left pull-right"></i>
	                            </span>
                       		</a>
                            <ul class="treeview-menu">
                            	<li>
                                	<a th:href="@{/faculty/view}">
                                    	<i class="fa fa-address-book"></i> View Faculties
                                 	</a>
                             	</li>
                             	<li>
									<a th:href="@{/faculty/add}"> 
                                 		<!-- <a data-toggle="modal" data-target="#addFacultyModal"> -->
                                    	<i class="fa fa-user-plus"></i> Add Faculty
                                	</a>
                            	</li>
                       		</ul>
                       	</li>
                   	</th:block>
                    <th:block th:if="${#authorization.expression('hasRole(''ROLE_CHECKER'')||hasRole(''ROLE_DEPT'')||hasRole(''ROLE_ADMIN'')')}">
                       	<li th:classappend="${#request.requestURI.startsWith('/ticket') ? 'active':''}" class="treeview" >
                        	<a href="#">
	                           	<i class="fa  fa-ticket"></i>
                               	<span>Tickets</span>
                           	   	<span class="pull-right-container">
                               		<i class="fa fa-angle-left pull-right"></i>
                               	</span>
                          	</a>
                           	<ul class="treeview-menu">
                            	<li>
                                	<a th:href="@{/ticket/view}">
                                   		<i class="fa fa-folder"></i> View Tickets
                                   	</a>
                              	</li>
                              	<th:block th:if="${#authorization.expression('hasRole(''ROLE_CHECKER'')||hasRole(''ROLE_ADMIN'')')}">
                           		<li>
									<a th:href="@{/ticket/waive}">
                                    	<i class="fa fa-folder"></i> View Waives
                                  	</a>
	                            </li>
	                            </th:block>
                           	</ul>
                  		</li>
                   	</th:block>
                </ul>
                <!-- /.sidebar-menu -->
        	</section>
        	<!-- /.sidebar -->
</aside>