<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default_layout}">
<head>
<meta charset="UTF-8">
<title>Manage Faculty</title>

<th:block layout:fragment="local-styles">
	<!-- Bootstrap time Picker -->
	<link rel="stylesheet" href="/plugins/timepicker/bootstrap-timepicker.min.css">
</th:block>
</head>
<body>
	<!-- EDIT THIS FOR THE 
                                         LAYOUT FRAGMENT NAME
                                          YOU WANT TO APPEND THIS -->
	<div class="content-wrapper" layout:fragment="content">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<h1>
				Schedule <small>Page Description</small>
			</h1>
			<ol class="breadcrumb">
				<li><a href="#"><i class="fa fa-dashboard"></i>Faculties</a></li>
				<li class="active">View Faculty</li>
				<li class="active">View Faculty Profile</li>
				<li class="active">Add Schedule</li>
			</ol>
		</section>

		<!-- Main content -->
		<section class="content container-fluid">

			<div class="box box-solid">
				<div class="box-body">
					<div class="row">
						<form th:object="${scheduleobject}" id="addSchedForm" th:action="@{'/faculty/profile/' + ${facid} + '/schedule/save' }" method="POST">
							<input th:field="*{id}" type="hidden">

							<div class="col-lg-12">
								<div class="box box-primary">
									<div class="box-header with-border">
										<h3 class="box-title">LOAD DESCRIPTION</h3>
									</div>
									<div class="box-body">
									
										<div class="col-lg-6">
											<div class="form-group">
												<label for="">Subject Name</label>
												<div class="input-group">
													<span class="input-group-addon"><i class="fa fa-university"></i></span> 
													<input th:field="*{subjectcode}" type="text" class="form-control" placeholder="Subject Name">
												</div>
											</div>
										</div>
										<div class="col-lg-6">
											<div class="form-group">
												<label for="">Subject Code</label>
												<div class="input-group">
													<span class="input-group-addon"><i class="fa fa-university"></i></span> <input th:field="*{subjectname}" type="text" class="form-control" placeholder="Subject Name">
												</div>
											</div>
										</div>
										<div class="col-lg-3">
											<div class="form-group">
												<label for="">Unit</label>
												<div class="input-group">
													<span class="input-group-addon"><i class="fa fa-university"></i></span> <input th:field="*{subjectname}" type="text" class="form-control" placeholder="Unit">
												</div>
											</div>
										</div>
										<div class="col-lg-3">
											<div class="form-group">
												<label for="">Subject Reference</label>
												<div class="input-group">
													<span class="input-group-addon"><i class="fa fa-university"></i></span> <input th:field="*{subjectname}" type="text" class="form-control" placeholder="Subject Reference">
												</div>
											</div>
										</div>

										<div class="col-lg-3">
											<div class="form-group">
												<label for="">Effectivity</label>
												<div class="input-group">
													<div class="input-group-addon">
														<i class="fa fa-calendar"></i>
													</div>
													<input id="datemask2" type="text" class="form-control" data-inputmask="'alias': 'mm/dd/yyyy'" data-mask placeholder="Effectivity">
												</div>
											</div>
										</div>

										<div class="col-lg-3">
											<div class="form-group">
												<label for="">LOAD TYPE</label>
												<div class="input-group">
													<div class="input-group-addon">
														<i class="fa fa-university"></i>
													</div>
													<input type="text" class="form-control" placeholder="Load Type">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="col-lg-12">
								<div class="box box-primary">
									<div class="box-header with-border">
										<h3 class="box-title">LOAD DETAILS</h3>
									</div>
									<div class="box-body">
										<div class="col-lg-12 details-wrapper">
											<div class="row" style="border-bottom: 1px solid #f4f4f4; padding-bottom: 10px">
												<div class="col-lg-6">
													<div class="form-group">
														<label for="">Class Course</label>
														<div class="input-group">
															<span class="input-group-addon"><i class="fa fa-university"></i></span> <input th:field="*{course}" type="text" class="form-control" placeholder="Course">
														</div>
													</div>
												</div>

												<div class="col-lg-3">
													<div class="form-group">
														<label for="">Year</label>
														<div class="input-group">
															<span class="input-group-addon"><i class="fa fa-users"></i></span> <input th:field="*{year}" type="text" class="form-control" placeholder="Year">
														</div>
													</div>
												</div>

												<div class="col-lg-3">
													<div class="form-group">
														<label for="">Section</label>
														<div class="input-group">
															<span class="input-group-addon"><i class="fa fa-users"></i></span> <input th:field="*{section}" type="text" class="form-control" placeholder="Section">
														</div>
													</div>
												</div>

												<div class="col-lg-6">
													<div class="form-group">
														<label for="">Building</label>
														<div class="input-group">
															<span class="input-group-addon"><i class="fa fa-building"></i></span> 
															<!-- <input type="text" class="form-control" placeholder="Building"> -->
															<select class="form-control" required>
																<option value="" selected>Select Building</option>
																<option value="CEA">College of Engineering and Architecture</option>
																<option value="CDL">Condotel</option>
															</select>
														</div>
													</div>
												</div>

												<div class="col-lg-6">
													<div class="form-group">
														<label for="">Room</label>
														<div class="input-group">
															<span class="input-group-addon"><i class="fa fa-building"></i></span> <input th:field="*{room}" type="text" class="form-control" placeholder="Room">
														</div>
													</div>
												</div>

												<div class="col-lg-6">
													<div class="form-group">
														<label for="">Day</label>
														<div class="input-group">
															<span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
															<!-- <input th:field="*{day}" type="text" class="form-control" placeholder="Day">  -->
															<select th:field="*{day}" class="form-control" required>
																<option value="" selected>Select Day</option>
																<option value="Monday">Monday</option>
																<option value="Tuesday">Tuesday</option>
																<option value="Wednesday">Wednesday</option>
																<option value="Thursday">Thursday</option>
																<option value="Friday">Friday</option>
																<option value="Saturday">Saturday</option>
																<option value="Sunday">Sunday</option>
															</select>
														</div>
													</div>
												</div>

												<div class="col-lg-6">
													<div class="row">
														<!-- time Picker -->
														<div class="col-sm-6 bootstrap-timepicker">
															<div class="form-group">
																<label>Time Start:</label>

																<div class="input-group">
																	<div class="input-group-addon">
																		<i class="fa fa-clock-o"></i>
																	</div>
																	<input th:field="*{timestart}" type="text" class="form-control timepicker">
																</div>
																<!-- /.input group -->
															</div>
															<!-- /.form group -->
														</div>

														<!-- time Picker -->
														<div class="col-sm-6 bootstrap-timepicker">
															<div class="form-group">
																<label>Time End:</label>

																<div class="input-group">
																	<input th:field="*{timeend}" type="text" class="form-control timepicker">

																	<div class="input-group-addon">
																		<i class="fa fa-clock-o"></i>
																	</div>
																</div>
																<!-- /.input group -->
															</div>
															<!-- /.form group -->
														</div>
													</div>
												</div>
												<!-- END OF ALL INPUT FIELDS IN DETAILS -->
												<div class="col-lg-12">
													<button class="btn btn-block btn-danger remove-detail-btn">Remove Load Detail</button>
												</div>

											</div>
										</div>

									</div>
								</div>
							</div>




						</form>
					</div>

				</div>
				<div class="box-footer">
					<div class="row">
						<div class="col-lg-2 col-md-2 col-sm-4  pull-right">
							<button class="btn btn-block btn-primary " type="submit" id="saveSchedBtn">Save Schedule</button>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-4 pull-right">
							<button class="btn btn-block btn-warning " id="add-detail-btn">Add Load Detail</button>
						</div>
					</div>
				</div>

			</div>


		</section>
		<!-- /.content -->
	</div>
	<th:block layout:fragment="local-scripts">
		<!-- bootstrap time picker -->
		<script src="/plugins/timepicker/bootstrap-timepicker.min.js"></script>
		<!-- InputMask -->
		<script src="/plugins/input-mask/jquery.inputmask.js"></script>
		<script src="/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
		<script src="/plugins/input-mask/jquery.inputmask.extensions.js"></script>
		<script>
			$(function() {
				//Datemask2 mm/dd/yyyy
				$('#datemask2').inputmask('mm/dd/yyyy', {
					'placeholder' : 'mm/dd/yyyy'
				})
				//Timepicker
				$('.timepicker').timepicker({
					showInputs : false
				})
				$("#saveSchedBtn").click(function() {
					$("#addSchedForm").submit();
				})

				var max_fields = 5; //maximum input boxes allowed
				var wrapper = $(".details-wrapper"); //Fields wrapper
				var add_button = $("#add-detail-btn"); //Add button ID

				var x = 1; //initlal text box count
				$(add_button)
						.click(
								function(e) { //on add input button click
									e.preventDefault();
									if (x < max_fields) { //max input box allowed
										x++; //text box increment
										$(wrapper)
												.append(
														'<div class="row" style="border-bottom: 1px solid #f4f4f4;padding-bottom:15px">'
																+ '<div class="col-lg-6">'
																+ '<div class="form-group">'
																+ '<label for="">Class Course</label>'
																+ '<div class="input-group">'
																+ '<span class="input-group-addon"><i class="fa fa-university"></i></span> <input th:field="*{course}" type="text" class="form-control" placeholder="Course">'
																+ '</div>'
																+ '</div>'
																+ '</div>'
																+

																'<div class="col-lg-3">'
																+ '<div class="form-group">'
																+ '<label for="">Year</label>'
																+ '<div class="input-group">'
																+ '<span class="input-group-addon"><i class="fa fa-users"></i></span> <input th:field="*{year}" type="text" class="form-control" placeholder="Year">'
																+ '</div>'
																+ '</div>'
																+ '</div>'
																+

																'<div class="col-lg-3">'
																+ '<div class="form-group">'
																+ '<label for="">Section</label>'
																+ '<div class="input-group">'
																+ '<span class="input-group-addon"><i class="fa fa-users"></i></span> <input th:field="*{section}" type="text" class="form-control" placeholder="Section">'
																+ '</div>'
																+ '</div>'
																+ '</div>'
																+

																'<div class="col-lg-6">'
																+ '<div class="form-group">'
																+ '<label for="">Building</label>'
																+ '<div class="input-group">'
																+ '<span class="input-group-addon"><i class="fa fa-building"></i></span>'
																+ '<select class="form-control" required>'
																+ '<option value="" selected>Select Building</option>'
																+ '<option value="CEA">College of Engineering and Architecture</option>'
																+ '<option value="CDL">Condotel</option>'
																+ '</select>'
																+ '</div>'
																+ '</div>'
																+ '</div>'
																+

																'<div class="col-lg-6">'
																+ '<div class="form-group">'
																+ '<label for="">Room</label>'
																+ '<div class="input-group">'
																+ '<span class="input-group-addon"><i class="fa fa-building"></i></span> <input th:field="*{room}" type="text" class="form-control" placeholder="Room">'
																+ '</div>'
																+ '</div>'
																+ '</div>'
																+

																'<div class="col-lg-6">'
																+ '<div class="form-group">'
																+ '<label for="">Day</label>'
																+ '<div class="input-group">'
																+ '<span class="input-group-addon"><i class="fa fa-clock-o"></i></span>'
																+ '<select th:field="*{day}" class="form-control" required>'
																+ '<option value="" selected>Select Day</option>'
																+ '<option value="Monday">Monday</option>'
																+ '<option value="Tuesday">Tuesday</option>'
																+ '<option value="Wednesday">Wednesday</option>'
																+ '<option value="Thursday">Thursday</option>'
																+ '<option value="Friday">Friday</option>'
																+ '<option value="Saturday">Saturday</option>'
																+ '<option value="Sunday">Sunday</option>'
																+ '</select>'
																+ '</div>'
																+ '</div>'
																+ '</div>'
																+

																'<div class="col-lg-6">'
																+ '<div class="row">'
																+ '<!-- time Picker -->'
																+ '<div class="col-sm-6 bootstrap-timepicker">'
																+ '<div class="form-group">'
																+ '<label>Time Start:</label>'
																+

																'<div class="input-group">'
																+ '<div class="input-group-addon">'
																+ '<i class="fa fa-clock-o"></i>'
																+ '</div>'
																+ '<input th:field="*{timestart}" type="text" class="form-control timepicker">'
																+ '</div>'
																+ '<!-- /.input group -->'
																+ '</div>'
																+ '<!-- /.form group -->'
																+ '</div>'
																+

																'<!-- time Picker -->'
																+ '<div class="col-sm-6 bootstrap-timepicker">'
																+ '<div class="form-group">'
																+ '<label>Time End:</label>'
																+

																'<div class="input-group">'
																+ '<input th:field="*{timeend}" type="text" class="form-control timepicker">'
																+ '<div class="input-group-addon">'
																+ '<i class="fa fa-clock-o"></i>'
																+ '</div>'
																+ '</div>'
																+ '<!-- /.input group -->'
																+ '</div>'
																+ '<!-- /.form group -->'
																+ '</div>'
																+ '</div>'
																+ '</div>'
																+ '<!-- END OF ALL INPUT FIELDS IN DETAILS -->'
																+ '<div class="col-lg-12">'
																+ '<button class="btn btn-block btn-danger remove-detail-btn">Remove Load Detail</button>'
																+ '</div>'
																+ '</div>'

												)
										//Timepicker
										$('.timepicker').timepicker({
											showInputs : false
										})
									}
								});
					$(wrapper).on("click", ".remove-detail-btn", function(e) { //user click on remove field
						e.preventDefault();
						if(x>1){
							$(this).parent().parent('.row').remove();
							x--;
						}else{
							alert("FUCK")
						}
						
						
					})
				
			});
		</script>
	</th:block>
</body>
<!-- /.content-wrapper -->

</html>